{% extends "core/base.html" %}

{% block title%} AYG3's PDFMerger {% endblock %}

{% block content %}
<h1 class='text-3xl font-semibold'>Files </h1>
<div class='w-2/3 border'>

    <form action='.' method='POST' enctype='multipart/form-data'>
        {% csrf_token %}
        <div class='m-4'>
            <input type='file' name='forms_file' multiple />
        </div>
        <button class='px-4 py-2 m-4 bg-gray-600 rounded-lg' type='submit'> Upload </button>
    </form>

    <div class='border rounded-xl'>
        {% for file in files %}
            {{ file }}
        {% endfor %}
    </div>
    
</div>
{% endblock %}